<!--service start-->
<section id="service"  class="service">
    <div class="container">
        <div class="service-details">
            <div class="section-header text-center">
                <h2>Nossos Serviços</h2>
                <p>
                    Para atender às necessidades dos nossos clientes disponibilizamos um conjunto de serviços que abrengem diferentes áreas.
                </p>
            </div><!--/.section-header-->
            <div class="service-content-one">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service1.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Constituição de Empresas</a>
                                </h2>
                                <!-- <p>
                                    Firma Individual, Sociedade por Cotas, Sociedade Anônima, Fundações, Associações, Cooperativas e Condomínios
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a> -->
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service2.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Escrituração Contábil</a>
                                </h2>
                                <!-- <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a> -->
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service3.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Recursos Humanos</a>
                                </h2>
                                <!-- <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a> -->
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-one-->
            <div class="service-content-two">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service4.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Serviços Contábeis</a>
                                </h2>
                                <!-- <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a> -->
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                    <div class="col-sm-6 col-xs-12">
                        <div class="service-single text-center">
                            <div class="service-img">
                                <img src="assets/images/service/service5.png" alt="image of service" />
                            </div><!--/.service-img-->
                            <div class="service-txt">
                                <h2>
                                    <a href="#">Tributário Empresarial</a>
                                </h2>
                                <!-- <p>
                                    Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
                                </p>
                                <a href="#" class="service-btn">
                                    learn more
                                </a> -->
                            </div><!--/.service-txt-->
                        </div><!--/.service-single-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.service-content-two-->
        </div><!--/.service-details-->
    </div><!--/.container-->

</section><!--/.service-->
<!--service end-->