<!--pricing start -->
<section id="pricing" class="pricing">
    <div class="container">
        <div class="pricing-details">
            <div class="section-header text-center">
                <h2 class="price-head">Nossa tabela de preços</h2>
                <p>
                    A seguir você confere o valor de alguns dos nossos serviços disponiveis:
                </p>
            </div><!--/.section-header-->
            <div class="pricing-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h2>A partir de</h2>
                                <h3 class="packeg_p"><span>R$</span>250,00</h3>
                                <p>Mensal</p>
                            </div><!--/.pricing-header-->
                            <p class="price-text">Acompanhamento de Empresas do Simples</p>
                        </div><!--/.pricing-box-->
                    </div><!--/.col-->

                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h2>A partir de</h2>
                                <h3 class="packeg_p"><span>R$</span>350,00</h3>
                                <p>Preço Único</p>
                            </div><!--/.pricing-header-->
                            <p class="price-text">Certificado Digital PJ-A1 + O Credenciamento do Sistema de Nota Fiscal</p>
                        </div><!--/.pricing-box-->
                    </div><!--/.col-->

                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h2>A partir de</h2>
                                <h3 class="packeg_p"><span>R$</span>50,00</h3>
                                <p>Preço Único</p>
                            </div><!--/.pricing-header-->
                            <p class="price-text">Declaração Anual de Imposto de Renda</p>
                        </div><!--/.pricing-box-->
                    </div><!--/.col-->

                    <div class="col-md-3 col-sm-6">
                        <div class="pricing-box">
                            <div class="pricing-header">
                                <h2>A partir de</h2>
                                <h3 class="packeg_p"><span>R$</span>900,00</h3>
                                <p>Preço Único</p>
                            </div><!--/.pricing-header-->
                            <p class="price-text">Abertura de Empresas</p>
                        </div><!--/.pricing-box-->
                    </div><!--/.col-->

                </div><!--/.row-->
            </div><!--/.pricing-content-->
        </div><!--/.pricing-details-->
    </div><!--/.container-->

</section><!--/.pricing-->
<!--pricing end-->