  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <img src="assets/images/logo/logo3.png" alt="" class="img-footer">
            <p>O que você pedir nós podemos fornecer, na sua empresa no seu escritório, na sua loja, ou até mesmo na sua residência, iremos até você com uma equipe experiente trabalhando o tempo todo, você pode ter certeza que vamos realizar um trabalho bem feito.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links úteis</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#about">Sobre Nós</a></li>
              <li><a href="#services">Serviços</a></li>
              <li><a href="#portifolio">Portfólio</a></li>
              <li><a href="#contact">Contato</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contate-nos</h4>
            <p>
              Rua Dois, Nº 25, Sala 106A, Galeria 3 Rios <br>
              Maranguape I<br>
              Paulista/PE <br>
              <strong>Telefones:</strong> (81) 3028-1351 | (81) 99777-0889<br>
              <strong>Email:</strong> gvpcontabilidade@hotmail.com<br>
            </p>

            <div class="social-links">
              <a href="https://wa.me/5581994239353" class="instagram" target="_blank"><i class="bi bi-whatsapp"></i></a>
              <a href="https://www.facebook.com/GVPcomercio/" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/gvp_contabilidade/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Newsletter</h4>
            <p>Inscreva-se na nossa Newsletter para receber as últimas novidades e insights sobre contabilidade e gestão financeira diretamente no seu e-mail.</p>
            <a href="https://gvpcontabilidade.substack.com/p/coming-soon" target="_blank" class="btn btn-primary">Subscrever</a>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>GVP Contabilidade</strong>. Todos os Direitos Reservados
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>