<!--contact start-->
<section id="contact"  class="contact adjustment-zi">
    <div class="container">
        <div class="contact-details">
            <div class="section-header contact-head  text-center">
                <h2>Fale Conosco</h2>
                <p>
                    Entre em contato conosco hoje e receba uma cotação dos nossos serviços de contabilidade.
                </p>
            </div><!--/.section-header-->
            <div class="contact-content">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="single-contact-box">
                            <div class="contact-right">
                                <div class="contact-adress">
                                    <div class="contact-office-address">
                                        <h3>Informações de Contato:</h3>
                                        <p>
                                            Rua Dois, Nº 25, Sala 106A, Galeria 3 Rios, Maranguape I, Paulista/PE
                                        </p>
                                        <div class="contact-online-address">
                                            <div class="single-online-address">
                                                <i class="fa fa-phone"></i>
                                                (81) 3028-1351 / (81) 99777-0889
                                            </div><!--/.single-online-address-->
                                            
                                            <div class="single-online-address">
                                                <i class="fa fa-envelope-o"></i>
                                                <span>gvpcontabilidade@hotmail.com</span>
                                            </div><!--/.single-online-address-->
                                        </div><!--/.contact-online-address-->
                                    </div><!--/.contact-office-address-->
                                    <div class="contact-office-address">
                                        <h3>Parceiro Social</h3>
                                        <div class="contact-icon">
                                            <ul>
                                                <li><a href="https://www.facebook.com/GVPcomercio/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://wa.me/5581994239353" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                                            </ul><!--/ul-->
                                        </div><!--/.contact-icon-->
                                    </div><!--/.contact-office-address-->
                                    
                                </div><!--/.contact-address-->
                            </div><!--/.contact-right-->
                        </div><!--/.single-contact-box-->
                    </div><!--/.col-->
                    <div class="col-sm-5">
                        <div class="single-contact-box">
                            <div class="contact-form">
                                <h3>Formulário de solicitação de estimativa</h3>
                                <form [formGroup]="formContact">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Primeiro Nome" name="firstname">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Último Nome" name="laststname">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" name="email">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                        <div class="col-sm-6 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" formControlName="phone" class="form-control" id="phone" placeholder="Telefone" name="phone" [mask]="getPhoneMask()">
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea class="form-control" formControlName="coment" rows="7" id="coment" placeholder="Mensagem" ></textarea>
                                            </div><!--/.form-group-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="single-contact-recaptcha pull-right">
                                                <re-captcha formControlName="recaptcha"
                                                (resolved)="resolved($event)"
                                                (error)="errored($event)"
                                                errorMode="handled"
                                                siteKey="6Ld15_YcAAAAAEYCjfRkbdPHHh6rjOZ6udMVvv46"
                                                ></re-captcha>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12 mt-2">
                                            <div class="single-contact-btn pull-right">
                                                <button (click)="sendMail()" [disabled]="formContact.invalid" class="contact-btn" type="button">Enviar Mensagem</button>
                                            </div><!--/.single-single-contact-btn-->
                                        </div><!--/.col-->
                                    </div><!--/.row-->
                                </form><!--/form-->
                            </div><!--/.contact-form-->
                        </div><!--/.single-contact-box-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.contact-content-->
        </div><!--/.contact-details-->
    </div><!--/.container-->

</section><!--/.contact-->
