 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex flex-column align-items-center">
    <div class="container d-flex justify-content-between mt-2">

      <div class="logo">
        <a href="index.html"><img src="assets/images/logo/logo3.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">Sobre</a></li>
          <li><a class="nav-link scrollto" href="#services">Serviços</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfólio</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contato</a></li>
          <li><a class="nav-link scrollto" href="https://gvp.enotafiscaleletronica.com.br/web/" target="_blank">Portal do Cliente</a></li>
          <li><a class="nav-link scrollto" href="#" (click)="redirectToLinks()">Links Úteis</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- #header -->
