<!--header start-->
<section id="home"  class="header">
    <div class="container">	
        <div class="header-left">
            <ul class="pull-left">
                <li>
                    <a href="#">
                        <i class="fa fa-phone" aria-hidden="true"></i>  (81) 3028-1351
                    </a>
                    /
                    <a href="#">
                       (81) 99777-0889
                    </a>
                </li><!--/li-->
                <li>
                    <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>gvpcontabilidade@hotmail.com
                    </a>
                </li><!--/li-->
            </ul><!--/ul-->
        </div><!--/.header-left -->
        <div class="header-right pull-right">
            <ul>
                <li class="reg">
                    <a href="https://gvp.enotafiscaleletronica.com.br/web/" target="_blank">
                        Login
                    </a>
                </li><!--/li -->
                <li>
                    <div class="social-icon">
                        <ul>
                            <li><a href="https://www.facebook.com/GVPcomercio/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://wa.me/5581994239353" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://www.instagram.com/gvp_contabilidade/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul><!--/.ul -->
                    </div><!--/.social-icon -->
                </li><!--/li -->
            </ul><!--/ul -->
        </div><!--/.header-right -->
    </div><!--/.container -->	

</section><!--/.header-->	
<!--header end-->
