<app-header></app-header>
<app-menu></app-menu>
<app-header-slide></app-header-slide>
<app-sobre></app-sobre>
<app-servicos></app-servicos>
<app-estatisticas></app-estatisticas>
<app-fotos></app-fotos>
<app-time></app-time>
<app-tabela-precos></app-tabela-precos>
<app-testemunhos></app-testemunhos>
<app-clientes></app-clientes>
<app-contato (eventLoading)="setLoading($event)"></app-contato>
<app-footer></app-footer>


<ngx-loading [show]="loading" [config]="{ 
    backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
    primaryColour: '#cc9900', secondaryColour: '#cc9900', tertiaryColour: '#cc9900', fullScreenBackdrop: true }"></ngx-loading>
