<app-header></app-header>
<!--about-part start-->
<section class="about-part blog-part">
    <div class="container">
        <div class="about-part-details text-center"> 
            <h2>Links</h2>
            <div class="about-part-content">
                <div class="breadcrumbs">
                    <div class="container">
                        <ol class="breadcrumb">
                          <li><a href="https://www.gvpcontabilidade.com.br/">Home</a></li>
                        </ol><!--/.breadcrumb-->
                    </div><!--/.container-->
                </div><!--/.breadcrumbs-->
            </div><!--/.about-part-content-->
        </div><!--/.about-part-details-->	
    </div><!--/.container-->

</section><!--/.about-part-->
<!--about-part end-->

		<!--nwes start -->
		<section  class="news">
			<div class="container">
				<div class="news-details">
					<div class="section-header text-center">
						<h2>Links Úteis</h2>
					</div><!--/.section-header-->
					<div class="news-card">
						<div class="row">
							<div class="col-md-2">
									<div class="blogs-widget">
										<h2>Principais</h2>
										<div class="blog-categories-list">
											<ul>
												<li><a href="https://www.gov.br/receitafederal/pt-br" target="_blank">Receita Federal</a></li>
												<li><a href="http://www8.receita.fazenda.gov.br/SimplesNacional/" target="_blank">Simples Nacional</a></li>
												<li><a href="https://www.gov.br/planalto/pt-br" target="_blank">Planalto</a></li>
												<li><a href="https://www.gov.br/pt-br" target="_blank">Portal Brasil</a></li>
												<li><a href="http://www.bombeiros.pe.gov.br/web/cbmpe" target="_blank">Corpo de Bombeiros</a></li>
											</ul>
										</div><!--/.blog-categories-list-->
									</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Públicos e Governo</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://www.portais.pe.gov.br/web/seadm/certidoes" target="_blank">SEADM - Certidões</a></li>
											<li><a href="https://www.crcpe.org.br/" target="_blank">CRC Estadual</a></li>
											<li><a href="http://www.sescappe.org.br/" target="_blank">Sindicatos e Associações</a></li>
											<li><a href="https://cfc.org.br/" target="_blank">CFC</a></li>
											<li><a href="https://www.sebrae.com.br/sites/PortalSebrae/" target="_blank">Sebrae</a></li>
											<li><a href="https://www.gov.br/pgfn/pt-br" target="_blank">PGFN</a></li>
											<li><a href="https://www.correios.com.br/" target="_blank">Correios</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
						</div><!--/.col-->
						<div class="col-md-2">
							<div class="blogs-widget">
								<h2>Prefeituras</h2>
								<div class="blog-categories-list">
									<ul>
										<li><a href="http://www2.recife.pe.gov.br/" target="_blank">Recife</a></li>
										<li><a href="https://www.olinda.pe.gov.br/" target="_blank">Olinda</a></li>
										<li><a href="https://jaboatao.pe.gov.br/" target="_blank">Jaboatão</a></li>
										<li><a href="http://www.paulista.pe.gov.br/site/" target="_blank">Paulista</a></li>
										<li><a href="http://abreuelima.pe.gov.br/" target="_blank">Abreu e Lima</a></li>
										<li><a href="http://igarassu.pe.gov.br/" target="_blank">Igarassu</a></li>
									</ul>
								</div><!--/.blog-categories-list-->
							</div><!--/.blog-widget-->
						</div><!--/.col-->
						<div class="col-md-2">
							<div class="blogs-widget">
								<h2>Certidões Estaduais de Pernambuco</h2>
								<div class="blog-categories-list">
									<ul>
										<li><a href="https://efisco.sefaz.pe.gov.br/sfi_trb_gcc/PREmitirCertidaoConcessaoBaixa" target="_blank">Certidão de Concessão de Baixa</a></li>
										<li><a href="https://efisco.sefaz.pe.gov.br/sfi_trb_gpf/PREmitirCertidaoNegativaNarrativaDebitoFiscal" target="_blank">Certidão Negativa de Débitos Fiscais</a></li>
										<li><a href="https://efisco.sefaz.pe.gov.br/sfi_trb_gcc/PREmitirCertidaoRegularidadeFiscal" target="_blank">Certidão de Regularidade Fiscal</a></li>
									</ul>
								</div><!--/.blog-categories-list-->
							</div><!--/.blog-widget-->
						</div><!--/.col-->
						<div class="col-md-2">
							<div class="blogs-widget">
								<h2>Receita Federal</h2>
								<div class="blog-categories-list">
									<ul>
										<li><a href="http://www.portaltributario.com.br/tributario/tributosfederais.htm" target="_blank">Tributos Federais</a></li>
									</ul>
								</div><!--/.blog-categories-list-->
							</div><!--/.blog-widget-->
						</div><!--/.col-->
						<div class="col-md-2">
							<div class="blogs-widget">
								<h2>Leis Federais</h2>
								<div class="blog-categories-list">
									<ul>
										<li><a href="https://www.gov.br/trabalho-e-previdencia/pt-br" target="_blank">Legislação Previdenciária</a></li>
										<li><a href="http://www.planalto.gov.br/ccivil_03/LEIS/2002/L10406.htm" target="_blank">Código Civil Brasileiro</a></li>
										<li><a href="https://www1.cfc.org.br/uparq/Normas_Brasileiras_de_Contabilidade.pdf" target="_blank">Norma Brasileira de Contabilidade</a></li>
									</ul>
								</div><!--/.blog-categories-list-->
							</div><!--/.blog-widget-->
						</div><!--/.col-->
						</div><!--/.row-->
						<hr>
						<div class="row">
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Federal</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="https://www.tst.jus.br/certidao1" target="_blank">Certidão Negativa de Débitos Trabalhistas</a></li>
											<li><a href="https://www.stm.jus.br/servicos-stm/certidao-negativa" target="_blank">Certidão do Superior Tribunal Militar STM</a></li>
											<li><a href="http://servicos.receita.fazenda.gov.br/Servicos/certidaointernet/PJ/Emitir" target="_blank">RFB</a></li>
											<li><a href="http://cnd.dataprev.gov.br/cws/contexto/cnd/cnd.html" target="_blank">Dataprev</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Por Tributo</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://www.planalto.gov.br/ccivil_03/leis/L5172.htm" target="_blank">Código Tributário Nacional</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Legislação Federal</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://www.planalto.gov.br/ccivil_03/Codigos/quadro_cod.htm" target="_blank">Códigos</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/Constituicao/Constituicao.htm" target="_blank">Constituição</a></li>
											<li><a href="http://www4.planalto.gov.br/centrodeestudos/assuntos/classificacao-decimal-de-direito/classif-decimal.pdf" target="_blank">Consulta Pública</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/decreto/_Dec_ano.htm" target="_blank">Decretos</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/dnn/quadro/principal.htm" target="_blank">Decretos não Numerados</a></li>
											<li><a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/principal_ano.htm" target="_blank">Decretos-Leis</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/Leis/_lei-principal.htm" target="_blank">Leis</a></li>
											<li><a href="https://www.planalto.gov.br/ccivil_03/MPV/Principal.htm" target="_blank">Medidas Provisórias</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/Projetos/Quadros/principal2003.htm" target="_blank">Projetos de Lei</a></li>
											<li><a href="http://www.planalto.gov.br/ccivil_03/Resenha/principal_ano.htm" target="_blank">Resenha Diária</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Legislação Trabalhista</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://www.mtecbo.gov.br/cbosite/pages/home.jsf" target="_blank">CBO - Classificação Brasileira de Ocupações</a></li>
											<li><a href="http://acesso.mte.gov.br/seg_desemp/" target="_blank">Seguro Desemprego</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Previdência</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://cnd.dataprev.gov.br/cws/contexto/cnd/cnd.html" target="_blank">Emissão de Segunda Via de Certidão Previdenciária</a></li>
											<li><a href="http://cnis3.inss.gov.br/DRSCI/faces/pages/drsci/emitirDRSCI.xhtml" target="_blank">Declaração de Regularidade de Contribuinte Individual</a></li>
											<li><a href="http://cadastro.receita.fazenda.gov.br/" target="_blank">Consulta Extrato de Contribuições de Empresas e Equiparados</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
							<div class="col-md-2">
								<div class="blogs-widget">
									<h2>Tributária</h2>
									<div class="blog-categories-list">
										<ul>
											<li><a href="http://normas.receita.fazenda.gov.br/sijut2consulta/consulta.action" target="_blank">Por Norma</a></li>
											<li><a href="https://www.gov.br/receitafederal/pt-br" target="_blank">Legislação Tributária</a></li>
										</ul>
									</div><!--/.blog-categories-list-->
								</div><!--/.blog-widget-->
							</div><!--/.col-->
						</div>
					</div><!--/.news-card-->
				</div><!--/news-details-->
			</div><!--/.container-->

		</section><!--/news-->
		<!--news end-->
<app-footer></app-footer>