<!--we-do start -->
<section  class="we-do">
    <div class="container">
        <div class="we-do-details">
            <div class="section-header text-center">
                <h2>O que nós fazemos</h2>
                <p>
                    O que você pedir nós podemos fornecer, na sua empresa no seu escritório, na sua loja, ou até mesmo na sua residência, iremos até você com uma equipe experiente trabalhando o tempo todo, você pode ter certeza que vamos realizar um trabalho bem feito.
                </p>
            </div><!--/.section-header-->
            <div class="we-do-carousel">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 about-us-zi">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/images/home/consultency.png" alt="image of consultency" />
                                    </div><!--/.we-do-img-->
                                    <div class="we-do-topics">
                                        <h2>
                                            <a href="#">
                                                Constituição de Empresas
                                            </a>
                                        </h2>
                                    </div><!--/.we-do-topics-->
                                </div><!--/.we-do-info-->
                                <div class="we-do-comment">
                                    <p>
                                        A constituição de uma empresa consiste, primeiramente, no arquivamento de seus atos constitutivos no Registro do Comércio ou no Registro Civil das Pessoas Jurídicas.
                                    </p>
                                </div><!--/.we-do-comment-->
                            </div><!--/.we-do-description-->
                        </div><!--/.single-we-do-box-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12 about-us-zi">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/images/home/busisness_grow.png" alt="image of business" />
                                    </div><!--/.we-do-img-->
                                    <div class="we-do-topics">
                                        <h2>
                                            <a href="#">
                                                Escrituração Contábil
                                            </a>
                                        </h2>
                                    </div><!--/.we-do-topics-->
                                </div><!--/.we-do-info-->
                                <div class="we-do-comment">
                                    <p>
                                        A escrituração contábil, primeira técnica utilizada pelo profissional de contabilidade,cuida-se do lançamento dos fatos contábeis em livros destinados ao registro de tais operações.
                                    </p>
                                </div><!--/.we-do-comment-->
                            </div><!--/.we-do-description-->
                        </div><!--/.single-we-do-box-->
                    </div><!--/.col-->
                    <div class="col-sm-4 col-xs-12 about-us-zi">
                        <div class="single-we-do-box text-center">
                            <div class="we-do-description">
                                <div class="we-do-info">
                                    <div class="we-do-img">
                                        <img src="assets/images/home/support-logo.png" alt="image of support" />
                                    </div><!--/.we-do-img-->
                                    <div class="we-do-topics">
                                        <h2>
                                            <a href="#">
                                                Recursos Humanos
                                            </a>

                                        </h2>
                                    </div><!--/.we-do-topics-->
                                </div><!--/.we-do-info-->
                                <div class="we-do-comment">
                                    <p>
                                        Aplicação de um conjunto de conhecimentos e técnicas administrativas especializadas no gerenciamento das relações das pessoas com as organizações.
                                    </p>
                                </div><!--/.we-do-comment-->
                            </div><!--/.we-do-description-->
                        </div><!--/.single-we-do-box-->
                    </div><!--/.col-->
                </div><!--/.row-->
            </div><!--/.we-do-carousel-->
        </div><!--/.we-do-details-->
    </div><!--/.container-->

</section><!--/.we-do-->
<!--we-do end-->

<!--about-us start -->
<section id="about" class="about-us">
    <div class="container">
        <div class="about-us-content">
            <div class="row">
                <div class="col-sm-6">
                    <div class="single-about-us">
                        <div class="about-us-txt">
                            <h2>Quem somos</h2>
                            <p>
                                Nossa contabilidade surgiu em 2008, após o fundador observar que  o setor do comércio no estado de pernambuco tinha uma grande deficiência quanto aos serviços contábeis, fiscais e trabalhistas. Logo, iniciou as atividades com foco em suprir essas questões, com qualidade, com eficiência e com agilidade.

                                Continuamos em constante evolução, buscando sempre entregar aos nossos clientes soluções em contabilidade que façam a diferença em seus resultados. Além disso, dispomos de profissionais especializados em diversos segmentos, ampliando a nossa oferta de serviços.
                            </p>
                        </div><!--/.about-us-txt-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
                <div class="col-sm-6">
                    <div class="single-about-us">
                        <div class="about-us-img">
                            <img src="assets/images/about/about-part.jpg" alt="about images">
                        </div><!--/.about-us-img-->
                    </div><!--/.single-about-us-->
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.about-us-content-->
    </div><!--/.container-->

</section><!--/.about-us-->
<!--about-us end -->