<!--project start-->
<section id="project"  class="project">
    <div class="container">
        <div class="project-details">
            <div class="project-header text-left">
                <h2>Fotos</h2>
            </div><!--/.project-header-->
            <div class="project-content">
                <div class="gallery-content">
                    <div class="isotope">
                        <div class="row">
                            <div class=" col-md-4 col-sm-12 adjustment-zi">
                                <div class="item big-height">
                                    <img src="assets/images/project/project1.jpg" alt="portfolio image"/>
                                </div><!-- /.item -->
                            </div><!-- /.col -->
                            <div class="col-md-8 col-sm-12 adjustment-zi">
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="item">
                                            <img src="assets/images/project/project2.jpg" alt="portfolio image"/>
                                        </div><!-- /.item -->
                                    </div><!-- /.col -->
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="item">
                                            <img src="assets/images/project/project3.jpg" alt="portfolio image"/>
                                        </div><!-- /.item -->
                                    </div><!-- /.col -->
                                </div><!-- /.row-->
                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="item">
                                            <img src="assets/images/project/project4.jpg" alt="portfolio image"/>
                                        </div><!-- /.item -->
                                    </div><!-- /.col -->
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="item">
                                            <img src="assets/images/project/project5.jpeg" alt="portfolio image"/>
                                        </div><!--/.item -->
                                    </div><!-- /.col -->
                                </div><!-- /.row-->

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                        
                    </div><!--/.isotope-->
                </div><!--/.gallery-content-->
            </div><!--/.project-content-->
        </div><!--/.project-details-->
    </div><!--/.container-->

</section><!--/.project-->
<!--project end-->